<ion-view title="Smart Camera Client">
    <ion-nav-buttons side="left">
        <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="title-div"> <!-- font-white -->
            <!--
            <div class="row live-row">
                <div class="col-50">.TITLE.</div>
                <div class="col-50">.EXTRA.</div>
            </div>
            -->
            <div class="live-container">
                <img class="live-grab" src="{{clientForm.clientSource}}" imageonload="refreshPreview()" imageonfail ng-click="openModal()">
            </div>
        </div>

        <div class="item item-divider"></div>

        <div class="list">

            <!--
            <div class="item">
                <span>Target</span>
                <input class="number-input right-float" type="number" min="0" max="255" ng-model="formControls.clientIpSuffix">
                <span class="right-float">{{formControls.localIpPrefix}}</span>
            </div>
            -->

            <div class="item">
                <!--<i class="icon ion-earth"></i>-->
                Server
                <span class="item-note">
                  {{clientForm.smartCam.ipAddress}}
                </span>
            </div>

            <div class="item">
                <!--<i class="icon ion-earth"></i>-->
                Device
                <span class="item-note">
                  {{clientForm.smartCam.platform}} - {{clientForm.smartCam.model}}
                </span>
            </div>

            <div class="item">
                <!--<i class="icon ion-earth"></i>-->
                Resolution
                <span class="item-note">
                  {{clientForm.smartCam.resolution}}
                </span>
            </div>

            <div class="item">
                <!--<i class="icon ion-earth"></i>-->
                Battery
                <span class="item-note">
                  {{clientForm.smartCam.batteryLevel}}
                </span>
            </div>

            <!--
            <ion-toggle toggle-class="toggle-assertive" ng-model="clientForm.refreshEnabled" ng-change="switchClientRefresh(clientForm.refreshEnabled)" ng-disabled="False">Live Refresh</ion-toggle>
            -->

        </div>

    </ion-content>
</ion-view>

<script id="image-modal.html" type="text/ng-template">
    <div class="modal transparent" ng-click="closeModal()">
        <img id="img2" ng-src="{{clientForm.clientSourceFullscreen}}" imageonload="refreshPreview()" imageonfail class="fullscreen-image"/>
    </div>
</script>
